.box1 {
    background-color: lightgray;
    margin: 15px;
    width: 300px;
    padding: 15px;
  }
  
  .box2 {
    background-color: lightgray;
    width: 300px;
    margin: 15px;
    padding: 15px;
  }
  
  .box3 {
    background-color: lightgray;
    width: 300px;
    margin: 15px;
    padding: 15px;
  }
  
  .box4 {
    background-color: lightgray;
    width: 300px;
    margin: 15px;
    padding: 15px;
  }
  .result-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .header {
    text-align: center;
    margin: 15px;
    padding: 15px;
  }
  
  .mapDesign {
    height: 600px;
    width: 500px;
    align-items: center;
  }
  
  .IpHeader {
    text-align: center;
    margin: 30px;
  }
  